head
  link(href='/css/style.css', rel='stylesheet')
  script(src="js/main.js")
  meta(name="viewport",content="width=device-width, initial-scale=1.0")
  //link Jquery1.9
  script(src="js/jquery.min.js")
